{% for plate in plates %}
  <button type="button" class="btn btn-default fruvi-plate" data-plate-id="{{ plate['id'] }}">
  {{ plate['name'] }}
  </button>
{% endfor %}

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="1">
  Ceviche 1
</button>
    
<button type="button" class="btn btn-default fruvi-plate" data-plate-id="2">
  Ceviche 2
</button>
    
<button type="button" class="btn btn-default fruvi-plate" data-plate-id="3">
  Ceviche 3
</button>

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="4">
  Ceviche 4
</button>

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="5">
  Ceviche 5
</button>

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="6">
  Ceviche 6
</button>

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="7">
  Ceviche 7
</button>

<button type="button" class="btn btn-default fruvi-plate" data-plate-id="8">
  Ceviche 8
</button>