{% extends "base.html" %}

{% set start_active='active' %}

{% block head %}
  {{ super() }}
  <style type="text/css">
  .fruvi-subtitle
  {
    text-transform: uppercase;
  }
  </style>
{% endblock %}

{% block content %}
  <h1> {{ name }} </h1>
  <h4 class="fruvi-subtitle"> {{ subtitle }} </h4>
  
  <p class="important">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum augue nulla, nec tempus ante tempus vel. Etiam a urna nec risus ultrices tincidunt. In hac habitasse platea dictumst. Proin leo tellus, porttitor vitae scelerisque quis, mattis a justo. Duis tempor venenatis nisl, eget cursus turpis varius tincidunt. Morbi placerat dapibus massa, ut ornare nibh ultricies eu. Ut molestie velit quis lorem imperdiet iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at pretium risus. Nullam ac erat nisl. Sed molestie a felis quis commodo. Nam ultrices suscipit dolor non pellentesque. 
  </p>
  
{% endblock %}  